/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 hsl(var(--foreground)), -20px 0 hsl(var(--border));
    background: hsl(var(--foreground));
  }
  33% {
    box-shadow: 20px 0 hsl(var(--foreground)), -20px 0 hsl(var(--border));
    background: hsl(var(--border));
  }
  66% {
    box-shadow: 20px 0 hsl(var(--border)), -20px 0 hsl(var(--foreground));
    background: hsl(var(--border));
  }
  100% {
    box-shadow: 20px 0 hsl(var(--border)), -20px 0 hsl(var(--foreground));
    background: hsl(var(--foreground));
  }
}
