@import url("themes.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/*********************************/
@layer base {

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    --radius: 0.618rem;
    --chart-1: hsl(297, 62%, 32%);
    --chart-2: hsl(229, 62%, 32%);
    --chart-3: hsl(0, 62%, 32%);
    --chart-4: hsl(135, 62%, 32%);
    --chart-5: hsl(65, 62%, 32%);
  }
}

/***************** Custom Scrollbar *****************/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--border));
  border-radius: 1rem;
}

/*---break---*/

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}